@charset "utf-8";

.main{
    background: #edeeef;
    color: #464646;
}

/**首页业务样式**/

.tabbox {
    background: #ffffff;
    height: 24rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.tabad {
    padding-bottom: 2.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.tabad ul li h3 {
    float: left;
    padding-left: 3.5rem;
    padding-right: 3rem;
    font-size: 3.5rem;
    color: #464646;
    line-height: 3.5rem;
    margin-top: 3rem;
    height: 4rem;
}

.tabad ul li span {
    float: left;
    padding-left: 3.5rem;
    padding-right: 3rem;
    font-size: 2.5rem;
    color: #464646;
    line-height: 3.5rem;
    margin-top: 3rem;
}

.tabad ul li p {
    float: left;
    padding-left: 3.5rem;
    padding-right: 3rem;
    font-size: 2.5rem;
    color: #464646;
    line-height: 3.5rem;
    margin-top: 3rem;
}

.tabad ul li a {
    float: right;
    padding-left: 3.5rem;
    padding-right: 3rem;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #464646;
    line-height: 3.5rem;
    margin-top: 3rem;
    margin-right: 3.5rem;
    border-radius: 15px;
}

.line {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #cccccc;
}

.floor {
    width: 100%;
    margin-bottom: 1.5rem;
    background: #ffffff;
    overflow: hidden;
}
.floor:last-child{
    margin-bottom:14.5rem;
}
.floor-tit {
    display: block;
    height: 126px;
    border-bottom: 1px solid #b9b9b9;
}

.floor-tit h2 {
    display: block;
    float: left;
    height: 72px;
    padding: 27px 46px;
}

.floor-tit a {
    display: block;
    float: right;
    height: 72px;
    color: #cccccc;
    padding: 38px 46px;
}

.guwen-more {
    display: block;
    float: left;
    background-color: #FFFFFF;
}

.guwen-more a {
    display: block;
    width: 33.333333333%;
    float: left;
    margin: 0;
    padding: 2rem 0;
    text-align: center
}

.guwen-more a span {
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
    color: #464646;
    display: block;
}


.tuwen , .tuwen2{
    display: block;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    background-color: #FFFFFF;
}
.tuwen a , .tuwen2 a{
    display: block;
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
}
.tuwen a img {
    border-radius: 50%;
}
.tuwen2 a img{
    padding:4rem 4rem 3rem 4rem;
    vertical-align:bottom;
}
.tuwen a span{
    display:block;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #464646;

}
.tuwen2 a span{
    display: block;
    font-size: 2.5rem;
    color: #686868;
}
.tw_a{
    display: -webkit-box;
    padding: 2.5rem 0;
    border-bottom: 1px solid #e5e5e5;
}
.tw_a span{
    color: #a7a7a7;
    padding-left: 2.5rem;
    border-left: 8px solid #369ef5;
    font-size: 3rem;
}
.tw_b{
    display: -webkit-box;
    /* margin-left:3rem;*/
}
.tw_b ul{
    padding: 4.5rem 0;
    margin-left:3rem;
    margin-right:3rem;
}
/*.tw_b ul li img{
    padding-top: 1rem;
    vertical-align:bottom;
}

 .tw_b ul li{
   padding-left: 3rem;
    padding-top:1rem;
    list-style-image: url("../images/yd1.png");
}*/

.tw_b ul li span{
    padding-left: 2.75rem;
    font-size: 3rem;
    color: #686868;
    line-height: 6rem;
    text-align: left;
}
.tw_c{
    display: -webkit-box;
    /*padding: 1rem 0;
    margin-left: 2rem*/
}
.tw_c ul{
    padding:4.5rem 0;
    margin-left:3rem;
    margin-right:3rem;
}

.tw_c ul li span{
    font-size: 3rem;
    line-height: 6rem;
    color: #686868;
    text-align: left;
}

.lc{
    display: block;
    float: left;
    width: 100%;
    background-color: #FFFFFF;
}
.lc a {
    display: block;
    width: 33.33333333%;
    /* height:21rem;*/
    float: left;
    margin: 0;
    padding: 2rem 0;
    text-align: center
}
.lc a img{
    height: 8rem;
    width: 8rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.lc a span {
    font-size: 2.5rem;
    text-align: center;
    color: #464646;
    display: block;
}
.foot-btn{
    width: 100%;
    height: 13rem;
    background: url("../images/btn-bg.png") no-repeat;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
.zx_btn{
    line-height: 7.5rem;
    text-align: center;
    width:91%;
    margin: 2.75rem 4.5%;
    background-color: #369ef5;
    border-radius: 15px;
    font-size: 3rem;
}
.zx_btn input{  font-size: 3rem;  color: #ffffff;  border: none;  background: none;  }
.zx_btn a{
    color: #ffffff;
}


/**发布问题页面**/
body.bggray{ font-size:2.5rem; background:#edeef0;}


.fill{

    background-color: #ffffff;
    padding: 3.5rem 3rem;
    position: relative;
    z-index: 1;

}

.fill div{
    font-size:3rem;  line-height: 3rem;  padding-bottom: 2.5rem; border-bottom:1px solid #b9b9b9; color:#464646;
}
.fill div p{
    overflow:hidden;
}
.fill div span{display: block; float: left; width:15rem;  }
.fill div input{width: 42.5rem; color:#464646;overflow: hidden; font-size:3rem;}
.fill div input.text{text-align: right;}
.fill div input::-webkit-input-placeholder{text-align: right;font-size: 3rem;color: #a7a7a7}
.fill div input:-ms-input-placeholder{text-align: right;font-size: 3rem;color: #a7a7a7}
.fill div input::-moz-placeholder{text-align: right;font-size: 3rem;color: #a7a7a7}
.fill div p img{display: block;float: right;}

.fill:last-child div{border-bottom: none;}

/**金额弹窗***/
.jine{
    display: none;
    width: 64rem;
    height: 41.5rem;
    top: 35rem;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ebeaea;
    border-radius: 25px;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.xz_je ul li{
    padding: 1rem 0;
    float: left;
    width: 17.5rem;
    height: 4rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    background-image: url("../images/select.png");
}
.xz_je ul li:nth-child(3n+0){
    margin-right: 0;
}
.xz_je ul li a{
    font-size:3rem;
    color: #5b5f68;
}

.close-img{
    width: 5.5rem;
    height: 5.5rem;
    left: 44%;
    top: 44.5rem;
    position: absolute;
    z-index: 100;
    display: block;
}